.connectionstring-fieldset{
  border-color: rgba(7, 7, 196, 0.856);
  
  
}

.keys-fieldset{
  float: left;
  height: 500px;
  margin-top: 10px;
  border-color: rgba(7, 7, 196, 0.856);
  width:20%;
}

.display-fieldset{
  margin-top: 10px;
  height: 500px;
  float: right;
  width:74%;
  border-color: rgba(7, 7, 196, 0.856);
  
}

.key-value{
 margin: 10px;
}

.container-button {
  
  text-align: center;
  margin: 10px;
  
  
}


.input{
  width: 85%;
  float: right;
  padding: 12px 20px;
  margin-top: 10px;
  box-sizing: border-box;
}
.input-keyvalue{
  width: 90%;
  float: right;
  padding: 12px 20px;
  margin-top: 10px;
  box-sizing: border-box;
}


.label-class{
  display: inline-block;
  font-size: 20px;
  
  margin-top: 20px;
  text-align: left;
}


.button{
  margin-top: 50px;
  margin-right: 20px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 7px;
  font-size: 23px;
  transition-duration: 0.4s;
  border-color: rgba(77, 74, 245, 0.979);
  border-width: 0.10em;

}

.button:hover{
  background-color: rgb(77, 74, 245, 0.979); 
  color: white;

  }